header{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
   /* height:120px;*/
    
}

.header{
    padding: 1rem;
}

h1.header{
    background-image:url(https://www.islands.com/wp-content/uploads/sites/13/2021/09/cayman-islands-seven-mile-beach-shutterstock-1.jpg);
    background-size:auto;
    background-position: 50%;
    font-size: 5.5rem;
    margin: 0;
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-clip:border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;

}

body, main {
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
}


a {
    font-weight:bold;
    text-decoration:none;
    color:rgb(0, 204, 207)
}

a:hover{
    color:coral;
}

@media screen and (max-width:750px){
    header{
        flex-direction:column;
        justify-content:flex-start;
    }


}